{% extends 'mobile/_base_layout/base.html.twig' %}

{% block importmap %}
    {{ importmap(['mobile-base-layout', 'mobile-dashboard-home']) }}
{% endblock %}

{% block title %}ホーム{% endblock %}

{% block body %}

    {% include 'mobile/_base_layout/base_header.html.twig' with {'pageTitle': pageTitle, 'headerLinks': headerLinks} %}

    <main>
        <div class="operation-nav">
            <ul class="operation-nav-list">
                <li class="operation-nav-list-item"><a href="{{ path('expense_transaction_index') }}">支出管理</a></li>
                <li class="operation-nav-list-item"><a href="{{ path('user_mypage_show') }}">アカウント管理</a></li>
            </ul>
        </div>
    </main>

    {% include 'mobile/_base_layout/base_footer.html.twig' with {'footerLinks': footerLinks} %}

{% endblock %}