{% extends 'mobile/_base_layout/base.html.twig' %}

{% block importmap %}
    {{ importmap(['mobile-base-layout', 'mobile-dashboard-top']) }}
{% endblock %}

{% block title %}トップ{% endblock %}

{% block body %}
    <main>
        <div>
            <ul>
                <li><a href="{{ path('user_signup') }}">サインアップ</a></li>
                <li><a href="{{ path('user_signin') }}">サインイン</a></li>
            </ul>
        </div>
    </main>
{% endblock %}