{% extends 'mobile/_base_layout/base.html.twig' %}

{% block importmap %}
    {{ importmap(['mobile-base-layout', 'mobile-dashboard-top']) }}
{% endblock %}

{% block title %}トップ{% endblock %}

{% block body %}
    <main>
        <h1 class="app-title">家計簿サイト・ベータ版</h1>
        <div class="auth-nav">
            <ul class="auth-nav-list">
                <li class="auth-nav-list-item"><a href="{{ path('user_signup') }}">サインアップ</a></li>
                <li class="auth-nav-list-item"><a href="{{ path('user_signin') }}">サインイン</a></li>
            </ul>
        </div>
    </main>
{% endblock %}