<footer>
    <nav class="footer-nav">
        <ul class="footer-nav-list">
            {% for link in footerLinks %}
                {% if link.id is not defined %}
                    <li class="footer-nav-list-item"><a href="{{ path(link.path) }}">{{ link.name }}</a></li>
                {% else %}
                    <li class="footer-nav-list-item"><a href="{{ path(link.path, {id: link.id}) }}">{{ link.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</footer>